/* variables  */

:root {
  --primary-color: #00a0ff;
  --fonts: "Poppins", sans-serif;
  --accent-color: #fff;
  --primary-dark: #1d1d1d;
  --accent-dark: #121212;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--fonts);
  font-size: 16px;
  background-color: var(--accent-dark);
  color: var(--accent-color);
}
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* custom classes  */
.container {
  max-width: min(100% - 2rem, 1200px);
  margin: auto;
}
